---
import Layout from "../layouts/Layout.astro";
import InputLabel from "../components/InputLabel.astro";
---

<Layout>
  <h1>Admin Finance</h1>

  <form>
    <InputLabel inputId="email" inputPlaceHolder="Enter your email" textLabel="Email" typeInput="email" />
    <InputLabel inputId="password" inputPlaceHolder="Enter your password" textLabel="Password" typeInput="password" />
    <button type="submit">Login</button>
  </form>
</Layout>
