@import "tailwindcss";

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@plugin "@midudev/tailwind-animations";

@theme {

    --font-nunito: "Nunito", sans-serif;

}

@utility animate-bounce-50 {
    animation: bounce 1s infinite;
    animation-delay: 0.2s;
}

@utility animate-bounce-100 {
    animation: bounce 1s infinite;
    animation-delay: 0.3s;
}

@utility animate-bounce-200 {
    animation: bounce 1s infinite;
    animation-delay: 0.4s;
}

@utility animate-bounce-300 {
    animation: bounce 1s infinite;
    animation-delay: 0.5s;
}